**
!Dockerfile
!go.mod
!go.sum
!cmd/
!cmd/**
!internal/
!internal/**
!migrations/
!migrations/**
**/*_test.go

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!ui/
!ui/**
ui/node_modules/
ui/dist/
ui/test-results/
ui/playwright-report/

**/._*
