/.env
.env.*
!.env.example
/attic
/data/
*.test
/coverage.out
.DS_Store
node_modules/
/ui/dist/
/ui/test-results/
/ui/playwright-report/
*.tsbuildinfo

/internal/httpapi/frontend/*
!/internal/httpapi/frontend/README.txt

/ui/dist-marketing/
/dist/
